{% extends 'Usuario.html.twig' %}

{% block contenido %}

	<br>
	<br>

	<div class="container">

		<div class="row">	
			<div class="col-lg-12"> <center><h1>Administración de usuarios</h1></center></div>
		</div>
		<div class="row">
			<br>
			
			<div class="col-lg-4">
				<div class="input-group">
					<span class="input-group-addon" title="Buscar Usuarios"><i class="icon-search"></i></span>
					<input oninput="busUsuarios()" id="patUsuarios" type="text" class="form-control 1" placeholder="Buscar usuarios">
				</div>
			</div>
		</div>
		<div class="row">
			<br>
			
			<div class="col-lg-5"> 
				<div id="panUsuarios" class="panel panel-default" >
					<div class="panel-heading">
						<h4 class="titBold"><center> Lista de usuarios &nbsp;<a title="Agregar Usuario"
						href="javascript:forUsuario();" ><i class="icon-plus-sign iconoAgregar" >
						</i></a></center> </h4> 
					</div>

					<div class="list-group">
  						<a class="list-group-item active"> 
  							<div class="row">
  								<div class="col-lg-2">#id </div>
  								<div class="col-lg-5">	Nombre usuario </div>
  								<div class="col-lg-5">	Tipo </div>
  							</div>

  						</a>
            		</div>
            		<div class="list-group" id="lisUsuario">
            			{% for usuario in usuarios %}
	            			<a id="{{usuario.codigo}}" href="#" class="list-group-item usuElementos">
	            				<div class="row">
	            					<div class="col-lg-2"> {{usuario.codigo}}  </div>
	            					<div class="col-lg-5"> &nbsp;&nbsp;{{usuario.usuario}}  </div>
	            					<div class="col-lg-3"> &nbsp;&nbsp;&nbsp;{{usuario.tipo}}  </div>
	            					<div class="col-lg-1"> 
	            						<i id="m{{usuario.codigo}}" title="Modificar usuario "class="icon-pencil
										iconoModificar icoUsuario" onclick=" forUsuario('m','{{usuario.tipo}}', {{usuario.codigo}},'{{usuario.usuario}}')" ></i>
	            				    </div>
	            				    {% if instalacion.usuarioAdmin != usuario.usuario%}
		            				    <div class="col-lg-1">
		  									<i id="e{{usuario.codigo}}" title="Eliminar usuario" class="icon-remove
		  									iconoEliminar icoUsuario"
		  									onclick=" admUsuario('e','{{usuario.tipo}}', {{usuario.codigo}},'{{usuario.usuario}}')"> </i>
		  								</div>
	  								{% endif %}
	  							</div>


	            			</a>
	            		{% endfor %}
            		</div>

				</div>
			</div>

			


			<div class="col-lg-1" >
				
			</div>
			<div class="col-lg-6" id="htmForUsuario">

				
			</div>

			

		</div>













	</div>

{%endblock%}
